# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Flask
instance/
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
