{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<section class="page">

    <h1>Contact Me</h1>

    <p class="intro">
        I'm interested in opportunities related to DevOps,
        DevSecOps, Cloud Computing and Cyber Security.
        Feel free to connect with me through the platforms below.
    </p>

    <div class="contact-container">

        <!-- Contact Information -->

        <div class="contact-card">

            <h2>📧 Email</h2>

            <p>
                <a href="mailto:akshigour12@gmail.com">
                    akshigour12@gmail.com
                </a>
            </p>

            <h2>💻 GitHub</h2>

            <p>
                <a href="https://github.com/akshigour12"
                   target="_blank">
                    github.com/akshigour12
                </a>
            </p>

            <h2>💼 LinkedIn</h2>

            <p>
                <a href="https://www.linkedin.com/in/akshita-g-6a24871a4/?skipRedirect=true"
                   target="_blank">
                    linkedin.com/in/akshita-g-6a24871a4
                </a>
            </p>

            <h2>📍 Location</h2>

            <p>India</p>

        </div>

        <!-- About Contact -->

        <div class="contact-card">

            <h2>Let's Connect</h2>

            <p>
                Thank you for visiting my portfolio.
            </p>

            <p>
                I am passionate about DevOps, DevSecOps,
                Cloud Computing and Cyber Security.
            </p>

            <p>
                I am open to DevOps, DevSecOps and Cloud Security roles, open-source collaboration, and technical discussions related to DevOps, DevSecOps and Cloud technologies.
            </p>

            <div class="buttons" style="margin-top:30px;">

                <a href="https://github.com/akshigour12"
                   target="_blank"
                   class="btn">
                    GitHub
                </a>

                <a href="https://www.linkedin.com/in/akshita-g-6a24871a4/?skipRedirect=true"
                   target="_blank"
                   class="btn-outline">
                    LinkedIn
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}
